CONFIG_DIR=./config/
CONTENT_DIR=./content/

## vpn to bypass youtube restrictions
TZ=America/New_York
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=10.2.0.2/32
WIREGUARD_COUNTRIES=Netherlands
OPENVPN_USER=
OPENVPN_PASSWORD=