MUSIC_DIR=./music
STATION_IDS_DIR=./station_ids
GENERATED_DIR=./generated
SHORT_STORIES_DIR=./short_stories

ICECAST_SOURCE_USER=source
ICECAST_SOURCE_PASSWORD=hackme
ICECAST_ADMIN_PASSWORD=admin
ICECAST_RELAY_PASSWORD=hackme

DEEPSEEK_API_KEY=
NEWSAPI_KEY=
